* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(16, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
}
/* https://desenvolvimentoparaweb.com/css/navegacao-ancora-smooth-scroll-css-puro/ */

/* Determina um scroll suave. */
html {
    scroll-behavior: smooth;
}

/* Determina o espaçamento entre o target e o topo da viewport. */
section:target {
    scroll-margin-top: 4rem;
}

/* 
   Apague as duas propriedades scroll acima para testar o scroll
   fornecido pelo JavaScript.
*/

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: darkblue;
    height: 80px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    color: rgb(238, 236, 236);
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: lightcoral;
}

section {
    padding: 30px;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 36px;
}

#one {
    padding-top: 100px;
    background-color: lightgreen;
}

#two {
    background-color: lightpink;
}

#three {
    background-color: lightblue;
}

#four {
    background-color: lightyellow;
}

#five {
    background-color: lightgrey;
}